# See http://help.github.com/ignore-files/ for more about ignoring files.

# temporary folders
/allure-report/*
/compiled-output/*
/dockerLogs/*
/temp/*

# dependencies
/node_modules

# IDEs and editors
/.idea
/.idea/misc.xml
/.idea/modules.xml
/.idea/study-project-appium.iml
/.idea/workspace.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
/package-lock.json
/android_10_app.cid
/appium_android_10_0.cid
/debug.log
/npm-debug.log

